server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true



logging:
  level:
    root: INFO
    com.fytzi.apigateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: INFO
