# Bootstrap config: pull full configuration from Config Server
spring:
  application:
    name: product-service
  config:
    import: optional:configserver:http://localhost:8888
  profiles:
    active: prod
